<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:fragment="head">
    <meta charset="UTF-8">
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type"/>
    <meta content="width=device-width, initial-scale=1.0" name="viewport"/>
    <title>妹子图</title>
    <script src="/static/js/jquery-3.2.1.slim.min.js"></script>
    <script src="/static/js/popper-1.12.9.min.js"></script>
    <script src="/static/js/bootstarp-4.0.0.min.js"></script>
    <!--    <script src="/static/js/vue.js"></script>-->
    <link href="/static/css/bootstrap-4.0.min.css" rel="stylesheet" type="text/css">
</head>

<body>

</body>
</html>