<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<nav class="navbar navbar-expand-lg navbar-light bg-light" th:fragment="navbar(navBarItems)">
    <a class="navbar-brand" href="#">MadYezi</a>
    <button aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"
            class="navbar-toggler"
            data-target="#navbarSupportedContent" data-toggle="collapse" type="button">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <th:block th:each="item,stat:${navBarItems}">
                <li class="nav-item active" th:if="${item.isCurrent()}">
                    <a class="nav-link" th:href="${item.getUrl()}" th:text="${item.getLabel()}">Home
                        <span class="sr-only">(current)</span>
                    </a>
                </li>
                <li class="nav-item" th:unless="${item.isCurrent()}">
                    <a class="nav-link" th:href="${item.getUrl()}" th:text="${item.getLabel()}">Link</a>
                </li>
            </th:block>
        </ul>
        <form class="form-inline my-2 my-lg-0">
            <input aria-label="Search" class="form-control mr-sm-2" placeholder="Search" type="search">
            <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
        </form>
    </div>
</nav>
</body>
</html>